!!! Strict
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Ruby VS Python Official Site
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/

    = stylesheet_link_tag "main"
    = yield :styles
    = javascript_include_tag "jquery", "json", "application", "map_builder", "chatroom"
    = stylesheet_link_tag "narrow", media: "screen and (max-width: 768px)"

    = csrf_meta_tag
    = yield :javascripts
    :javascript
       init();

  %body
    #flash_error.flash{style: "display: none"}
      - if flash[:error]
        = flash[:error]
        :coffeescript
          $('#flash_error').show()
          setTimeout((-> $('.flash').fadeOut(500)), 10000)
    #flash_notice.flash{style: "display: none"}
      - if flash[:notice]
        = flash[:notice]
        :coffeescript
          $('#flash_notice').show()
          setTimeout((-> $('.flash').fadeOut(500)), 3000)

    %header
      -# %a{:href => "/", :title => "Go home"}= image_tag("logo.png", id:"logo-img")
      -# %br/
      %a{:href => "/", :title => "Go home"}= image_tag("rubyvspythonlogo.png", id:"python-vs-ruby-img", style:"width: 220px")
    #main
      #user_bar
        - if current_user.blank?
          %a{:href => "/users/sign_up"} Sign Up
          | 
          %a{:href => "/users/sign_in"} Sign In
        - else
          Hello, #{current_user.name}
          %a{:href => "/users/sign_out"} Sign out

      #content
        = yield

    %footer
      -# #member_icon
      -#   %table
      -#     %tr
      -#       %td= link_to image_tag("memeber_icon_linjunhalida.gif"), "http://blog.linjunhalida.com/", :title=> "linjunhalida", :target=>"_blank"
      -#       %td= link_to image_tag("memeber_icon_quake.gif"), "http://quake.javaeye.com/", :title=> "quake", :target=>"_blank"
      -#       %td= link_to image_tag("memeber_icon_dorian.gif"), "#", :title=> "dorian"
      -# #footer-desc= image_tag("footer.png")
        

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22394366-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();