#place
  .left_content
    = render partial: "event#{@event}"

  .right_nav
    .title_bar_r
      %h1 Play Online

    #room_icons
      - for i in 1..4
        %a.room_icon{:href => "/room/#{i-1}/", id:"room-#{i}"}
          .number= "%02d" % i
          .room
            %div GAME
            %div ROOM
      #scoreboard-link= link_to "SCORE BOARD", "/home/scoreboard"

    - if !@replays.blank?
      .title_bar_r
        %h1 Game Replay
      #game_replay
        %ul
          - @replays.each do |item|
            %li
              %a{:href => replay_path(item.id)}= item.title
          %li.more
            %a{:href => replays_path} More...

    -# .title_bar_r
    -#   %h1 Sponsors

    -# #sponsor_icon
    -#   %a{:href => "http://gurudigger.com", :target => "_blank"}
    -#     %img#sponsor{:src => image_path("gurudigger.png")}/
    -#   %a{:href => "http://douban.com", :target => "_blank"}
    -#     %img#sponsor{:src => image_path("douban.png")}/
    -#   %a{:href => "http://snda.com", :target => "_blank"}
    -#     %img#sponsor{:src => image_path("snda.png"), style:"margin-top:25px;"}/
    -#   %a{:href => "http://banner.alimama.com/", :target => "_blank"} 
    -#     %img#sponsor{:src => image_path("taobao.png"), style:"margin-top:25px;"}/

    #follow
      %a{:href => "http://twitter.com/rubyvspython", :target => "_blank"}
        %img#twitter{:src => image_path("follow_us.png")}/

