#tips.right-block
  .title_bar TIPS
  .right_body  
    #teams
      #pythons_team
        = image_tag("pythons_team_title.gif")
        .color.color_1
        .color.color_2
      #rubys_team
        = image_tag("rubys_team_title.gif")
        .color.color_1
        .color.color_2
    #team_food
      = image_tag("rubys_food.gif")
      = image_tag("pythons_food.gif")
      = image_tag("portal.gif")
    #team_category
      = image_tag("category_python.gif")
      = image_tag("category_ruby.gif")
      = image_tag("category_dead.gif")
