- content_for :styles do
  = stylesheet_link_tag "room", :cache => "cached_room"
  = javascript_include_tag "room"

#left
  .title_bar
    = image_tag("step.gif", :style => "vertical-align:middle;")
    %span#round_counter{:style => "font-weight: bold;font-size:18px;"} 0
  %canvas#canvas
  #canvas_images{:style => "display:none;"}
    = image_tag("icons/egg.gif", :id => "icon_egg")
    = image_tag("icons/gem.gif", :id => "icon_gem")
  .clear
  #chat
    %form#send-msg{:action => "javascript:chat_send();", :style => "display:none;"}
      %input#msg{:type => "text"}/
      %input{:type => "submit", :value => "send"}/
    #msgs
    :javascript
      chat_init("ws://"+window.location.hostname+":9999/chatroom", "#{current_user ? current_user.name : request.remote_ip}", "room-#{params[:id]}");

#right
  - if current_user
    #user-control.right-block
      .title_bar
      #add-user
        %input{:onclick => "javascript:add_user('#{current_user.name}', $('#snake-type').val());", :type => "submit", :value => "add user"}/
        %select#snake-type
          %option python
          %option ruby

      #user-control-panel
        %input{type: "submit", onclick: "javascript:turn(1);", class: "turn", id: "turn-up", value: "^"}/
        %input{type: "submit", onclick: "javascript:turn(0);", class: "turn", id: "turn-left", value: "<"}/
        %input{type: "submit", onclick: "javascript:turn(3);", class: "turn", id: "turn-down", value: "V"}/
        %input{type: "submit", onclick: "javascript:turn(2);", class: "turn", id: "turn-right", value: ">"}/

  #living_room.right-block
    .title_bar
      = image_tag("living_room.gif")
    %ul#score_board

  #tips.right-block
    .title_bar
      = image_tag("tips.gif")
    #teams
      #pythons_team
        = image_tag("pythons_team_title.gif")
        .color.color_1
        .color.color_2
      #rubys_team
        = image_tag("rubys_team_title.gif")
        .color.color_1
        .color.color_2
    #team_food
      = image_tag("rubys_food.gif")
      = image_tag("pythons_food.gif")
    #team_category
      = image_tag("category_python.gif")
      = image_tag("category_ruby.gif")
      = image_tag("category_dead.gif")

:javascript
  run_application("ws://"+window.location.hostname+":9999/info", #{params[:id]});