- content_for :styles do
  = stylesheet_link_tag "room"
  = javascript_include_tag "simple_snake", "room"

#left
  .title_bar 
    #map_name
    #map_author
    #map_status      
    #map_round
  %canvas#room-canvas
  #canvas_images{:style => "display:none;"}
    = image_tag("icons/egg.gif", :id => "icon_egg")
    = image_tag("icons/gem.gif", :id => "icon_gem")

#right

  = render partial: "rooms/replays" if controller_name == 'replays'
  = render partial: "rooms/controls" if current_user and controller_name == 'rooms'
  .right-block#living_room
    .title_bar MEMBERS
    .right_body  
      %ul#score_board
  = render partial: "rooms/tips"

  .right-block#chat
    .title_bar CHATS
    .right_body  
      %form#send-msg{:action => "javascript:chat_send();", :style => "display:none;"}
        %input{:type => "submit", :value => "send"}/
        %input#msg{:type => "text"}/
      #msgs
      :javascript
        chat_init("ws://"+window.location.hostname+":9999/chatroom",
          "#{current_user ? current_user.name : request.remote_ip}", 
          "#{controller_name}-#{params[:id]}"
        );

:javascript
  run_application("ws://"+window.location.hostname+":9999/info", #{@room_id}, #{controller_name == 'replays'});
