<% content_for :styles do %>
  <%= stylesheet_link_tag "room", :cache => "cached_room" %>
<% end %>
<div id="left">
  <div class="title_bar">
    <%= image_tag("step.gif", :style => "vertical-align:middle;") %>
    <span id="round_counter" style="font-weight: bold;font-size:18px;">0</span>
  </div>

  <canvas id="canvas" width="750" height="375" />

  <div id="canvas_images" style="display:none;">
    <%= image_tag("icons/egg.gif", :id => "icon_egg") %>
    <%= image_tag("icons/gem.gif", :id => "icon_gem") %>
  </div>
</div>

<div id="right">
  <div id="living_room">
    <div class="title_bar">
      <%= image_tag("living_room.gif") %>
    </div>

    <ul id="score_board">
    </ul>
  </div>

  <div id="tips">
    <div class="title_bar">
      <%= image_tag("tips.gif") %>
    </div>

    <div id="pythons_team">
      <%= image_tag("pythons_team_title.gif") %>
      <div class="color color_1"></div>
      <div class="color color_2"></div>
    </div>
    <div id="rubys_team">
      <%= image_tag("rubys_team_title.gif") %>
      <div class="color color_1"></div>
      <div class="color color_2"></div>
    </div>
    <div class="clear"></div>

    <div id="team_food">
      <%= image_tag("rubys_food.gif") %>
      <%= image_tag("pythons_food.gif") %>
    </div>

    <div id="team_category">
      <%= image_tag("category_python.gif") %>
      <%= image_tag("category_ruby.gif") %>
      <%= image_tag("category_dead.gif") %>
    </div>
  </div>
</div>
<script type="text/javascript">
  run_application();
  var replay_data = <%= @replay.json %>
</script>

